<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>MENU EMPLEADO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
        <ion-tab-button tab="tab-alta" type="submit" color="secondary" expand="block">ALTA EMPLEADO</ion-tab-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-tab-button tab="tab-baja" type="submit" color="secondary" expand="block">BAJA EMPLEADO</ion-tab-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-tab-button tab="tab-modificar" type="submit" color="secondary" expand="block">MODIFICAR EMPLEADO</ion-tab-button>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-list>


  <ion-content class="ion-padding"></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
      SISTEMA DE GESTION DE PERSONAL
    <ion-img src="../assets/jpg/usuario.png"></ion-img>
  </ion-content>
</div>
